.advantages {
  margin: 60px 0 0;

  @media (max-width: 767px) {
    margin: 30px 0 0;
  }

  &._second {
    @media (max-width: 767px) {
      h3 {
        line-height: 140%;
      }
    }

    .advantages-item {
      @media (max-width: 991px) {
        flex: 0 1 calc(50% - 20px);
        justify-content: flex-start;
      }
      @media (max-width: 767px) {
        flex: 1 1 100%;
        justify-content: flex-start;
      }

      a {
        display: block;
        transition: all 0.3s ease;

        &._email {
          color: #00b806;
          text-decoration: underline;
          word-break: break-all;

          &:hover {
            text-decoration: unset;
          }
        }

        &:hover {
          color: #00b806;
        }
      }
    }
  }

  &._contact {
    margin: 30px 0 0;

    @media (max-width: 767px) {
      .advantages-body {
        padding: 24px 20px;

        &__content {
          margin: 26px 0 0;
        }
      }

      .advantages-item {
        &:not(:first-child) {
          margin: 42px 0 0;
        }
      }
    }
  }

  &._company {
    margin: 0;

    @media (max-width: 767px) {
      // margin: 30px 0 0;
      .advantages-body {
        padding: 24px 20px 30px;
      }
    }
  }

  &-body {
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    @media (max-width: 767px) {
      padding: 30px 20px;
    }

    &__content {
      margin: 40px 0 0;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 767px) {
        margin: 30px 0 0;
      }
    }
  }

  &-item {
    display: flex;
    flex: 1 1 calc(33.333% - 27px);

    @media (max-width: 767px) {
      align-items: center;
    }

    &:not(:first-child) {
      margin: 40px 0 0 40px;
    }

    &:nth-child(3n + 1) {
      margin: 40px 0 0;
    }

    &:first-child {
      margin: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin: 0 0 0 40px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      .advantages-item__content {
        margin: 0 0 0 20px;
      }
    }

    @media (max-width: 991px) {
      flex: 1 1 calc(50% - 20px);

      &:nth-child(2n + 1) {
        margin: 40px 0 0;
      }
      &:nth-child(3n + 1) {
        margin: 40px 0 0 40px;
      }

      &:first-child {
        margin: 0;
      }

      &:nth-child(2) {
        margin: 0 0 0 40px;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        .advantages-item__content {
          margin: 0 0 0 14px;
        }
      }
    }

    @media (max-width: 767px) {
      flex: 1 1 calc(100%);

      &:not(:first-child) {
        margin: 31px 0 0;
      }
    }

    &__icon {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;

      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__content {
      margin: 0 0 0 14px;

      &-num {
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #6b6a6a;

        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 1px;
          background: #e1e1e1;
          margin: 0 8px 0 0;
        }
      }

      &-value {
        display: block;
        margin: 14px 0 0;
        font-size: 18px;
        line-height: 17px;
        color: #2b2a29;

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 15px;
        }
      }

      &-descr {
        display: block;
        margin: 14px 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #3f3e3d;
      }
    }
  }

  &-mission {
    margin: 40px 0 0;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #eaeaea;
    border-radius: 10px;

    &.company-mission {
      margin: 30px 0 0;
    }

    @media (max-width: 767px) {
      margin: 30px 0 0;
    }

    p {
      margin: 20px 0 0;

      &:not(:first-of-type) {
        margin: 24px 0 0;
      }
    }
  }

  &-bottom {
    margin: 40px 0 0;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: unset;
      margin: 30px 0 0;
    }

    a {
      margin: 0 0 0 20px;

      @media (max-width: 767px) {
        margin: 22px 0 0;
      }
    }
  }
}
