.types {
  margin: 60px 0 0;

  @media (max-width: 767px) {
    margin: 30px 0 0;
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0;

    &__item {
      cursor: pointer;
      flex: 1 1 calc(50% - 10px);
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      color: #ffffff;
      padding: 0 0 24%;

      &._service {
        @media (max-width: 767px) {
          &:not(:first-child) {
            margin: 30px 0 0;
          }
        }

        .types-body__item-content {
          padding: 44px 40px 40px;

          @media (max-width: 1200px) {
            overflow: auto;

            .types-body__item-btns {
              margin: 10px 0 0;
            }
          }

          @media (max-width: 767px) {
            padding: 30px;
          }

          p {
            margin: 24px 0 0;

            @media (max-width: 767px) {
              margin: 21px 0 0;
            }
          }
        }
      }

      h2 {
        margin: 20px 0 0;
      }

      img {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2b2a29;
        opacity: 0.3;
        transition: all 0.4s ease;

        @media (max-width: 767px) {
          opacity: 0.7;
        }
      }

      &:not(:first-child) {
        margin: 20px 0 0 20px;
      }
      &:nth-child(2n + 1) {
        margin: 20px 0 0;
      }
      &:first-child {
        margin: 0;
      }
      &:nth-child(2) {
        margin: 0 0 0 20px;
      }

      @media (max-width: 767px) {
        flex: 1 1 100%;
        height: 300px;

        &:not(:first-child) {
          margin: 20px 0 0;
        }
        &:nth-child(3) {
          margin: 30px 0 0;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 46px 40px;

        @media (max-width: 991px) {
          padding: 30px;
        }
        @media (max-width: 767px) {
          h5 {
            font-size: 18px;
            line-height: 140%;
          }
        }
      }

      &-btns {
        display: flex;
        margin: auto 0 0;
        transition: all 0.3s ease;

        pointer-events: none;
        opacity: 0;
        transform: translate(0, 150%);

        @media (max-width: 767px) {
          pointer-events: unset;
          opacity: 1;
          transform: translate(0);
        }

        a {
          &:not(:first-child) {
            margin: 0 0 0 10px;
          }
        }
      }

      &:hover {
        &::after {
          opacity: 0.7;
        }
        .types-body__item-btns {
          pointer-events: unset;
          opacity: 1;
          transform: translate(0);
        }
      }
    }
  }
}
